.red{
    backdrop-filter: #795858;
    color:brown;
}

.green{
    backdrop-filter: #77a477;
    color: green;
}

.same-line{
display: inline-block;
}

.list-item{
    padding: 4px;
    border-bottom: 2px solid darkgoldenrod;
    width: 400px;

}
.margin{
    margin: 2px;
}

.padding{
    padding: 2px;
}

.completed{
    text-decoration: line-through;
}